@forward "social";
@forward "inscripciones";
@forward "asistencia";
@forward "asistentes";
@forward "grupos";
@forward "finanzas";
@forward "inspeccion";
@forward "visitas";
@forward "kid_profile";
@forward "newgroup";
@forward "agregar-asistente";
@forward "configuracion";
@forward "dashboard";
@forward "salud";
@forward "checklist";
@forward "changedaycare";
@forward "stripeConfig";