.newasistente {
  main {
    padding: 0;
    background-image: none;

    .info-icon {
      display: none;
    }

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;
      display: flex;
      gap: 30px;

      @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
        padding: 40px clamp(20px, 3vw, 80px) 200px;
      }
    }
  }
}