.asistencia {
  .dialog-container[open] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-container {
    display: none;
    font-family: "Montserrat";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;

    .dialogCode {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: white;
      border-radius: 15px;
      padding: 50px;
      width: 550px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      @media (max-width: 768px) {
        width: 80%;
        height: max-content;
      }

      h2 {
        font-size: 24px;
        margin: 0 20px;
        color: #140a4c;
      }

      p {
        font-size: 15px;
        color: #55637e;
        line-height: 1.4;
        text-align: center;
      }

      .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: #140a4c;
          font-size: 24px;
          margin: 0 20px;
        }

        .back-btn,
        .close-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #98a2b7;
          background: none;
          border: 1px solid #e1e4e9;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }

      .dialog-body {
        margin-top: 20px;

        .code-inputs {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          @media (max-width: 550px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
          }

          input {
            width: 50px;
            height: 60px;
            font-size: 2rem;
            text-align: center;
            border: 2px solid #ccc;
            border-radius: 10px;
            transition: border-color 0.3s;

            @media (max-width: 550px) {
              margin: 0 auto;
            }

            &::placeholder {
              color: #ccc;
            }

            &:focus {
              outline: none;
              border-color: #00b0b9;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &[type="number"] {
              -moz-appearance: textfield;
            }
          }
        }

        p {
          font-size: 15px;
          color: #55637e;
          line-height: 1.4;
          margin: 20px 0;
          text-align: center;
        }

        #reminder {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;
          border-radius: 12px;
          background: #f0feff;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
          margin-bottom: 30px;

          img {
            width: 50px;
            height: 50px;
          }

          p {
            margin: 0;
          }
        }

        .validate-btn,
        .aceptar-btn {
          font-family: "Montserrat";
          display: block;
          width: 100%;
          background-color: #00b0b9;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 0;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #008a8f;
          }
        }
      }

      &#exitoCodigo {
        display: none;

        .checkmark_circle_error {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-width: 5px;
          stroke-miterlimit: 10;
          stroke: #00c851;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: block;
          stroke-width: 5px;
          stroke: #ffffff;
          stroke-miterlimit: 10;
          margin: 10% auto;

          &.success {
            box-shadow: inset 0px 0px 0px #00c851;
            animation: fillsuccess 0.4s ease-in-out 0.4s forwards,
              scale 0.3s ease-in-out 0.9s both;
          }
        }

        .checkmark_check {
          transform-origin: 50% 50%;
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
        }

        .progress {
          position: absolute;
          top: 5%;
          left: 5%;
          transform: rotate(-90deg);
          stroke: black;

          &.progress--thin {
            left: auto;
            right: 5%;
          }

          circle {
            stroke-dasharray: 130;
            stroke-dashoffset: 130;
            animation: dash 1.5s infinite;
          }
        }

        @keyframes dash {
          50% {
            stroke-dashoffset: 0;
          }

          100% {
            stroke-dashoffset: -130;
          }
        }

        @keyframes stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }

        @keyframes scale {

          0%,
          100% {
            transform: none;
          }

          50% {
            transform: scale3d(1.1, 1.1, 1);
          }
        }

        @keyframes fillsuccess {
          100% {
            box-shadow: inset 0px 0px 0px calc(80px / 2) #00c851;
          }
        }
      }

      &#errorCodigo {
        display: none;

        .checkmark_circle_error {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-width: 5px;
          stroke-miterlimit: 10;
          stroke: #ff4444;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: block;
          stroke-width: 5px;
          stroke: #ffffff;
          stroke-miterlimit: 10;
          margin: 10% auto;

          &.error {
            box-shadow: inset 0px 0px 0px #ff4444;
            animation: fillerror 0.4s ease-in-out 0.4s forwards,
              scale 0.3s ease-in-out 0.9s both;
          }
        }

        .checkmark_check {
          transform-origin: 50% 50%;
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
        }

        .progress {
          position: absolute;
          top: 5%;
          left: 5%;
          transform: rotate(-90deg);
          stroke: black;

          &.progress--thin {
            left: auto;
            right: 5%;
          }

          circle {
            stroke-dasharray: 130;
            stroke-dashoffset: 130;
            animation: dash 1.5s infinite;
          }
        }

        @keyframes dash {
          50% {
            stroke-dashoffset: 0;
          }

          100% {
            stroke-dashoffset: -130;
          }
        }

        @keyframes stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }

        @keyframes scale {

          0%,
          100% {
            transform: none;
          }

          50% {
            transform: scale3d(1.1, 1.1, 1);
          }
        }

        @keyframes fillerror {
          100% {
            box-shadow: inset 0px 0px 0px calc(80px / 2) #ff4444;
          }
        }
      }
    }
  }

  main {
    padding: 0;

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;

      .info {
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 30px;
      }

      h3 {
        margin-bottom: 16px;
      }

      .inactive,
      .indaycare,
      .inhome {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
        gap: 20px 90px;

        li {
          cursor: pointer;
          width: 115px;
          position: relative;

          .options {
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            z-index: 2;

            i {
              color: var(--gris3);
              font-size: 16px;
            }

            ul {
              box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
              border-radius: 8px;
              overflow: hidden;
              width: 120px;
              position: absolute;
              top: 100%;
              right: 0;
              display: none;
              background-color: #fff;

              li {
                button {
                  padding: 5px 10px;
                  width: 100%;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: left;

                  &:hover {
                    opacity: 0.5;
                  }

                  &#desactivar {
                    color: var(--morita);
                    border-bottom: 1px solid #e1e4e9;
                  }

                  &#eliminar {
                    color: var(--sandia);
                  }
                }
              }
            }

            &:hover {
              ul {
                display: block;
              }
            }
          }

          .image {
            position: relative;

            &>img {
              border: 4px solid;
              height: 115px;
              width: 115px;
              border-radius: 50%;
            }

            &>i {
              position: absolute;
              bottom: 0;
              right: 0;
              color: #fff;
              font-size: 16px;
              padding: 8px;
              border-radius: 50%;
            }
          }

          .name {
            color: var(--gris1, #140a4c);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: normal;
            margin: 15px auto;
          }

          .acuarelausers-buttons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(0) translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: flex;
            transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .acuarelauser-button {
              position: absolute;
              width: 40px; // Ajustar tama침o del bot칩n
              height: 40px; // Ajustar tama침o del bot칩n
              border-radius: 50%;
              background-color: #fff; // Ajustar color de fondo
              border: 1px solid #ccc; // Ajustar borde
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: transform 0.3s;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border-width: 2px;
              }

              .acuarelauser-name {
                display: none; // Ocultar el nombre por defecto
                position: absolute;
                top: 50%;
                left: 110%;
                color: var(--gris1, #140a4c);
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                width: 120px;
                text-align: left;
                transform: translateY(-50%);

                @media only screen and (max-width: 768px) {
                  display: block;
                }
              }

              &:hover {
                transform: scale(1.1);

                .acuarelauser-name {
                  display: block; // Ocultar el nombre por defecto
                }
              }
            }
          }

          &.active {
            .acuarelausers-buttons {
              transform: scale(1) translate(-50%, -50%);
            }

            .image {
              &>i {
                display: none;
              }
            }
          }
        }

        &.activeKid {
          li {
            opacity: 0.5;

            &.active {
              opacity: 1;
              background: none;
            }
          }
        }
      }

      .indaycare {
        li {
          .image {
            img {
              border-color: var(--cielo);
            }

            &>i {
              background-color: var(--cielo);
            }
          }
        }
      }

      .inhome {
        li {
          .image {
            img {
              border-color: var(--pollito);
            }

            &>i {
              background-color: var(--pollito);
            }
          }
        }
      }

      .inactive {
        li {
          .image {
            opacity: 0.5;

            img {
              border-color: var(--gris1);
            }

            &>i {
              background-color: var(--gris1);
            }
          }

          button {
            color: var(--secundario1);
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
          }
        }
      }
    }
  }
}

.methods-register {
  display: flex;
  justify-content: center;
  gap: 122px;
  width: 100%;

  button {
    display: flex;
    flex-direction: column;
    gap: 16px;

    svg {
      width: 127px;
      height: 127px;
      transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      margin: 0 auto;
    }

    span {
      color: var(--gris2, #55637e);
      text-align: center;
      font-size: 12px;
      display: block;
      width: 100%;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .info {
      margin: 0 auto;

      p {
        margin: 0;
        color: #fff;
      }
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}

.methods-emergency {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 0;
  justify-items: center; 
  width: 100%;

  @media (max-width: 425px) {
    grid-template-columns: auto; 
    grid-template-rows: repeat(2, 1fr);
  }

  .emergencyimg {
    height: 127px;
    width: 127px;

    &-2 {
      height: 110px;
      width: 110px;
      margin-bottom: 15px;
    }
  }

  button {
    display: flex;
    flex-direction: column;
    gap: 16px;

    svg {
      width: 127px;
      height: 127px;
      transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      margin: 0 auto;
    }

    span {
      color: var(--gris2, #55637e);
      text-align: center;
      font-size: 12px;
      display: block;
      width: 100%;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .info {
      margin: 0 auto;

      p {
        margin: 0;
        color: #fff;
      }
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }

  
  .parentslight {
    grid-column: 1 / -1; 
    margin-top: 20px;

    &-div {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 10px;
    }
    .parentslight-left { 
      p {
        color: var(--cielo);
        font-weight: 700;
        @media (max-width: 425px) {
          font-size: 12px;
        }
      }
    }

    .parentslight-right { 
      display: flex;
      flex-direction: column;
      align-items: start;
      .parentslight-contact {
        font-size: 12px;
        color: var(--gris2, #55637e); 
        margin: 0;
        @media (max-width: 425px) {
          font-size: 11px;
        }
      }
    }

    .no-contact-message {
      color: red;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

.response-message {
  grid-column: 1 / 3; 
  justify-self: start;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: white !important;
  font-size: 10px !important; 
  font-weight: 400;
  background-color: var(--gris1);
  padding: 5px 30px;
  border-radius: 16px;
  margin-bottom: 0 !important;
  width: auto; 
  min-width: 400px; 
  max-width: 100%; 
  word-wrap: break-word; 
  @media (max-width: 425px) {
    grid-column: 1; 
    height: 32px;
    gap: 5px;
    min-width: 100%;
  }
  @media (max-width: 320px) {
    min-width: 300px;
  }
}

.emergency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 15px 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.emergency span {
  color: #333b5c;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
}

.emergency img {
  width: 100px;
  height: 100px;
  margin-bottom: 18px;
}

.new-buttons-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 27px; 
  z-index: 10; 
}

.new-emergency {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 24px;
  background-color: white; 
  border: 1px solid var(--cielo);
  color: var(--cielo) !important; 
  font-size: 12px !important;
  font-weight: bold !important;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.new-emergency:hover {
  background-color: var(--gris4) !important;
  color: var(--gris3) !important;
  border: none;
  transform: scale(1.05);
}



.methods-callemergency {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 0;
  justify-items: center; 
  width: 100%;
  @media (max-width: 425px) {
    grid-template-columns: auto auto; 
    grid-template-rows: repeat(2, 1fr);
  }
}


.info {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f8ff;
  border: 1px solid #d1e7f0;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.info i {
  font-size: 20px;
  color: #007bff; /* Icono de color azul */
}

.info p {
  margin: 0;
  line-height: 1.5;
}





.methods-finanzas {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: #333b5c;
    font-size: 12px;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 30px;
    // list-style-type: disc;
  }

  li {
    position: relative;
    padding-left: 20px;
    color: #333b5c;
    font-size: 14px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background-color: black;
      border-radius: 50%;
    }
  }
}

.precios span {
  color: #333b5c;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.precios p {
  color: #333b5c;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #30f77e;
    margin-top: 15px;
  }
}