.asistentesList {
  main {
    padding: 0;

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;

      ul {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
        gap: 20px 90px;

        li {
          cursor: pointer;
          width: 115px;
          position: relative;

          .options {
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            z-index: 10;

            i {
              color: var(--gris3);
              font-size: 16px;
            }

            ul {
              box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
              border-radius: 8px;
              overflow: hidden;
              width: 120px;
              position: absolute;
              top: 100%;
              right: 0;
              display: none;
              background-color: #fff;

              li {
                button {
                  padding: 5px 10px;
                  width: 100%;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: left;

                  &:hover {
                    opacity: 0.5;
                  }

                  &#desactivar {
                    color: var(--morita);
                    border-bottom: 1px solid #e1e4e9;
                  }

                  &#eliminar {
                    color: var(--sandia);
                  }
                }
              }
            }

            &:hover {
              ul {
                display: block;
              }
            }
          }

          .image {
            img {
              border: 4px solid var(--cielo);
              height: 115px;
              width: 115px;
              border-radius: 50%;
              object-fit: cover;
            }

            & > i {
              position: absolute;
              bottom: 0;
              right: 0;
              color: #fff;
              font-size: 16px;
              padding: 8px;
              border-radius: 50%;
            }
          }

          .name {
            color: var(--gris1, #140a4c);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: normal;
            margin: 15px auto;
          }
        }
      }
    }
  }
}

.asistente {
  main {
    padding: 0;
    .info-icon {
      display: none;
    }

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;
    }
  }
  form {
    overflow-x: scroll;
    max-height: 530px;
  }
}
