.configuracion {
    main {
        padding: 0;

        .mainHeader {
            box-shadow: none;
        }

        .content {
            padding: 40px clamp(20px, 3vw, 80px) 120px;

            .basicinfo {
                align-items: flex-start;
                @media only screen and (max-width: 768px) {
                  flex-direction: column;
                }

                .txt,

                a {
                    flex: 1;
                }
            }
        }
    }
}