.grupos {
  main {
    padding: 0;

    .alertMessage {
      padding: 8px;
      padding-right: 30px;
      padding-left: 15px;
      background-color: #140a4c;
      border-radius: 16px;
      width: 70%;
      right: 0;
      margin: 20px auto;
      margin-left: 16%;
      font-size: 11px;
      line-height: 16px;
      color: #fbfcfe;
      display: none;
      align-items: center;
      gap: 8px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #fbfcfe;
      }
    }

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;

      ul.list {
        & > li {
          transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          position: relative;
          border-radius: 8px;
          background: var(--Fondos-Blanco, #fbfcfe);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
          margin-bottom: 16px;

          .options {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;

            i {
              color: var(--gris3);
              font-size: 16px;
            }

            ul {
              box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
              border-radius: 8px;
              overflow: hidden;
              width: 120px;
              position: absolute;
              top: 100%;
              right: 0;
              display: none;
              background-color: #fff;

              li {
                button {
                  padding: 5px 10px;
                  width: 100%;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: left;

                  &:hover {
                    opacity: 0.5;
                  }

                  &#desactivar {
                    color: var(--morita);
                    border-bottom: 1px solid #e1e4e9;
                  }

                  &#eliminar {
                    color: var(--sandia);
                  }
                }
              }
            }

            &:hover {
              ul {
                display: block;
              }
            }
          }

          a {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            @media only screen and (max-width: 768px) {
              flex-direction: column;
              align-items: flex-start;
            }

            h3 {
              color: var(--gris1, #140a4c);
              font-size: 21px;
              font-style: normal;
              font-weight: 700;
              line-height: 27px;
              /* 128.571% */
            }

            p {
              color: var(--gris2, #55637e);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              /* 133.333% */
            }

            ul.rate {
              display: flex;
              gap: 16px;
              align-items: center;

              @media only screen and (max-width: 768px) {
                display: none;
              }

              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 70px;

                svg {
                  width: 30px;
                }

                span {
                  color: var(--gris1, #140a4c);
                  text-align: center;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 15px;
                }
              }
            }
          }

          &:hover {
            transform: translateX(15px);
          }
        }
      }
    }
  }
}

.grupo {
  main {
    padding: 0;
    .info-icon {
      display: none;
    }

    .content {
      padding: 40px clamp(20px, 3vw, 45px) 120px;

      .contentHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 16px;
      }

      ul.activities {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin: 30px auto;
        @media only screen and (max-width: 768px) {
          display: grid;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;
          margin: 30px auto;
          grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        }

        li {
          padding: 16px clamp(20px, 1vw, 32px);
          background: var(--Fondos-Blanco, #fbfcfe);
          border-radius: 8px;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
          position: relative;
          cursor: pointer;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

          &:hover {
            transform: scale(1.1);
          }

          label {
            cursor: pointer;
          }

          button.addActivity {
            position: absolute;
            top: 30%;
            left: 75%;

            i {
              margin: 0;

              font-size: 20px;
            }
          }

          h3 {
            color: var(--Gris-Gris-1, #140a4c);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;

            text-align: center;
          }

          i {
            margin: 20px auto;
            display: block;
            font-size: 64px;
            text-align: center;
            @media only screen and (max-width: 768px) {
              font-size: 22px;
            }
          }

          .rate {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            span {
              /* 125% */
              align-items: center;
              color: var(--Gris-Gris-1, #140a4c);
              display: flex;
              font-family: Raleway;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              justify-content: center;
              line-height: 15px;
              text-align: center;
            }
          }

          &:nth-child(1) {
            i {
              color: var(--sandia);
            }
          }

          &:nth-child(2) {
            i {
              color: var(--cielo);
            }
          }

          &:nth-child(3) {
            i {
              color: var(--secundario2);
            }
          }

          &:nth-child(4) {
            i {
              color: var(--secundario1);
            }
          }

          &:nth-child(5) {
            i {
              color: var(--morita);
            }
          }
        }
      }

      #integrantes {
        margin: 30px auto;
        ul {
          justify-content: space-evenly;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              border: 4px solid;
              height: 115px;
              width: 115px;
              border-radius: 50%;
            }

            span {
              color: var(--gris1, #140a4c);
              text-align: center;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              /* 133.333% */
            }
          }
        }
      }

      /* Color para el primer radio button */
      #rate-6690c556ffe9cb949a3e37e8-0:checked
        ~ label[for="rate-6690c556ffe9cb949a3e37e8-0"]
        .acuarela {
        background-color: red;
      }

      /* Color para el segundo radio button */
      #rate-6690c556ffe9cb949a3e37e8-1:checked
        ~ label[for="rate-6690c556ffe9cb949a3e37e8-1"]
        .acuarela {
        background-color: yellow;
      }

      /* Color para el tercer radio button */
      #rate-6690c556ffe9cb949a3e37e8-2:checked
        ~ label[for="rate-6690c556ffe9cb949a3e37e8-2"]
        .acuarela {
        background-color: green;
      }
    }
  }

  #lightbox-subtitle {
    margin-bottom: 16px;
  }

  .steps {
    .btnactions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 20px auto 0;
    }

    .step {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .types {
    display: flex;
    gap: 20px;
    justify-content: center;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    li {
      cursor: pointer;
      width: 92px;
      border: 2px solid transparent;
      border-radius: 8px;

      &:has(input:checked) {
        border: 2px solid var(--cielo);
      }

      label {
        cursor: pointer;
      }

      span {
        color: var(--gris2, #55637e);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        display: block;
        line-height: 20px;
      }

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
        left: 0;
        display: none;
        border: 0;
      }

      i {
        margin: 20px auto;
        display: block;
        font-size: 32px;
        text-align: center;
      }
    }
  }

  .participaron {
    display: flex;
    gap: 30px;
    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    li {
      position: relative;

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        border: 0;
      }

      label {
        position: relative;
        display: block;

        label {
          position: absolute;
          z-index: 5;
          font-size: 16px;
          background: #fff;
          width: 30px;
          border-radius: 50%;
          height: 30px;
          align-items: center;
          justify-content: center;
          display: none;

          &:nth-of-type(1) {
            border: 2px solid var(--cielo);
            top: 10px;
            right: 0px;

            i {
              color: var(--cielo);
            }
          }

          &:nth-of-type(2) {
            border: 2px solid var(--pollito);
            top: 47px;
            right: -14px;

            i {
              color: var(--pollito);
            }
          }

          &:nth-of-type(3) {
            border: 2px solid var(--sandia);

            top: 85px;
            right: 2px;

            i {
              color: var(--sandia);
            }
          }
        }

        img {
          border: 4px solid;
          height: 115px;
          width: 115px;
          border-radius: 50%;
        }

        span {
          color: var(--gris1, #140a4c);
          text-align: center;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          display: block;
        }

        &:has(.rate-0:checked) {
          &::after {
            content: "";
            position: absolute;
            width: 115px;
            height: 115px;
            z-index: 2;
            background-color: var(--cielo);
            opacity: 0.5;
            top: 0;
            left: 0;
            border-radius: 50%;
          }

          label {
            background-color: #fff;
            opacity: 0.5;

            &::after {
              content: none;
            }
          }
        }

        &:has(.rate-1:checked) {
          &::after {
            content: "";
            position: absolute;
            width: 115px;
            height: 115px;
            z-index: 2;
            background-color: var(--pollito);
            opacity: 0.5;
            top: 0;
            left: 0;
            border-radius: 50%;
          }

          label {
            background-color: #fff;
            opacity: 0.5;

            &::after {
              content: none;
            }
          }
        }

        &:has(.rate-2:checked) {
          &::after {
            content: "";
            position: absolute;
            width: 115px;
            height: 115px;
            z-index: 2;
            background-color: var(--sandia);
            opacity: 0.5;
            top: 0;
            left: 0;
            border-radius: 50%;
          }

          label {
            background-color: #fff;
            opacity: 0.5;

            &::after {
              content: none;
            }
          }
        }
      }

      input:checked {
        & + label {
          label {
            display: flex;

            input {
              opacity: 0;
            }

            &:has(input:checked) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .typeSelected {
    display: flex;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 16px;

    i {
      font-size: 32px;
    }

    .txt {
      strong {
        display: block;
        text-align: left;
      }
    }
  }
}
