.newgroup {
  main {
    padding: 0;

    .content {
      padding: 40px clamp(20px, 3vw, 80px) 120px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media only screen and (max-width: 1023px) {
        grid-template-columns: repeat(1, 1fr);

      }

      h2 {
        margin-bottom: 30px;
      }

      .children {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
        gap: 20px;

        li {
          cursor: pointer;
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          position: relative;

          label {
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            display: flex;
            flex-direction: column;
            position: relative;

            img {
              border: 4px solid;
              height: 115px;
              width: 115px;
              object-fit: cover;
              border-radius: 50%;
            }

            span {
              color: var(--gris1, #140a4c);
              text-align: center;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: normal;
              margin: 15px auto;
            }


          }

          input[type="checkbox"] {
            cursor: pointer;
            border: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:checked+label {
              opacity: 0.5;

            }

            &:disabled {
              background: none;
              cursor: default;
              pointer-events: none;

              &+label {
                opacity: 0.5;
              }
            }
          }

          &:hover {
            opacity: 0.5;

          }
        }
      }
    }
  }
}