form {
  .formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    strong {
      color: var(--gris2, #55637e);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 133.333% */
      display: flex;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .row {
    display: flex;
    gap: 16px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    span {
      flex: 1;
    }
  }

  .error-message {
    font-size: 11px;
    color: red;
    display: block;
    margin: 5px 0;
    position: absolute;
    top: 100%;
    left: 16px;
  }

  span {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    position: relative;

    i {
      align-self: center;
      color: var(--cielo);
      height: 1px;
    }

    label {
      color: var(--gris2, #55637e);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      /* 133.333% */
      align-self: flex-end;
    }

    input,
    select {
      flex: 1;
    }

    select {
      border-bottom: 1px solid var(--gris4);
      color: var(--gris3);
      font-size: 11px;
      line-height: 16px;
      padding: 5px;
    }
  }

  input[type="checkbox"] {
    border: 0;
  }
}
