header {
  background-color: var(--cielo);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  grid-column: span 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 20px;

  img {
    height: 50px;

    @media only screen and (max-width: 1023px) {
      height: 30px;
      top: 38%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  button {
    display: none;

    @media only screen and (max-width: 1023px) {
      display: flex;
    }
  }

  i.acuarela {
    font-size: 24px;
    color: #fff;
  }

  .right {
    ul {
      display: flex;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 72px;
        height: 72px;

        &.logout {
          background-color: var(--secundario4);
        }

        a,
        button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;
          width: 72px;
          height: 72px;

          &:hover {
            background-color: var(--secundario4);
          }
        }

        button {
          flex-direction: row;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          padding: 10px;

          svg {
            width: 20px;
            height: 20px;
          }

          &:hover {
            background-color: var(--secundario4);
          }
        }

        small {
          color: #fbfcfe;
          text-align: center;
          font-size: 9px;
          font-style: normal;
          font-weight: 700;
          line-height: 11px;
          /* 122.222% */
        }
      }
    }
  }
}

.selector-container {
  max-width: 640px;
  max-height: 90%;
  position: relative;
  border-radius: 16px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: var(--White, #fbfcfe);
  /* Drop Shadow_Regular */
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

  hr {
    margin: 0;
  }

  .selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px;
    color: var(--gris1);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 8px 8px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}