.mainHeader {
  background: #fbfcfe;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px clamp(20px, 2vw, 80px);
  position: sticky;
  top: 0;
  z-index: 1;
  h2 {
    color: var(--gris1, #140a4c);
    font-size: clamp(20px, 3vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: clamp(20px, 3vw, 48px);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    a {
      font-size: 20px;
    }
    input {
      color: var(--Grises-Gris-3, #98a2b7);
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px; /* 125% */
      border-bottom: 1px solid #98a2b7;
      @media only screen and (max-width: 768px) {
        font-size: 35px;
        width: 80%;
      }
      &::placeholder {
        opacity: 0.5;
      }
    }
    .info-icon {
      display: flex;
      align-items: center;
    
      i {
        cursor: pointer;
        transition: transform 0.3s ease;
    
        &:hover {
          transform: translateY(-5px);
        }
      }
    }    
  }
  .actions {
    a,
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: background-color .2s;
    }
  }
}
