.basicinfo {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 425px) {
      gap: 20px;
  }

  .txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .txt_data {
          p {
              margin-bottom: 16px;
              display: flex;
              align-items: center;
              gap: 8px;

              .txt_infodata {
                  display: flex;
                  gap: 8px;
                  @media (max-width: 425px) {
                      flex-direction: column;
                      gap: 0px;
                  }
              }
  
              i {
                  color: var(--cielo);
              }
          }
      }

      .emergency_contact {
          height: 40px;
          width: 181px;
          background-color:var(--sandia);
          color: white;
          border-radius: 8px;
          font-size: 11px;
          font-weight: 700;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          &:hover {
            background-color:var(--sandia_hover);
          }
      }
  }

  .photo {
      width: 183px;
      height: 183px;
      overflow: hidden;
      border: 4px solid var(--cielo);
      border-radius: 8px;
      background: #c4c4c4;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      @media (max-width: 425px) {
          width: 130px;
          height: 130px;
      }
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
}