.info {
  background-color: var(--gris1);
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  i {
    font-size: 12px;
  }
  p {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
  }
}
