.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  z-index: 10000;
  align-items: center;

  &-content {
    max-width: 640px;
    max-height: 90%;
    position: relative;
    border-radius: 16px;
    width: 100%;
    text-align: center;
    padding: 60px 70px;
    background: var(--White, #fbfcfe);
    /* Drop Shadow_Regular */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    @media only screen and (max-width: 768px) {
      align-items: center;
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
    }

    form {
      width: 100%;
      span {
        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }
        label {
          @media only screen and (max-width: 768px) {
            width: 100%;
            text-align: left;
          }
        }
      }
    }

    h2 {
      color: var(--gris1, #140a4c);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 16px;
      color: var(--gris2, #55637e);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      /* 145.455% */
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100%;
    }
  }

  &-button {
    max-width: 160px;
    width: 100%;
    padding: 12px;
  }

  .close-button,
  #activities-close-button,
  #asistente-close-button,
  #parent-close-button,
  #info-close-button {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 32px;
    height: 32px;
  }

  .apps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    a {
      align-items: center;
      background: #00c6d1;
      border-radius: 8px;
      border: 1px solid #fff;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      color: #fff;
      display: inline-flex;
      flex-direction: row;
      font-family: "Montserrat";
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      gap: 8px;
      justify-content: center;
      line-height: 13px;
      width: auto;
      padding: 9px 16px;
      text-align: center;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
