.tab-content {
  display: none;
  background: none;
  &.active {
    display: block;
    background: none;
  }
}
.tab-content-header{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--cielo);
  transition: left 0.3s ease, width 0.3s ease;
}

.navtabs {
  display: flex;
  background: #fbfcfe;
  position: relative;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.navtab {
  color: var(--gris2);
  cursor: pointer;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  margin: 0 10px;
  padding: 10px 20px;
  text-align: center;
  transition: color 0.3s;
  @media only screen and (max-width: 768px) {
    margin: 0;
    padding: 10px 18px;
  }
}
.navtab:hover {
  color: var(--cielo);
}
.navtab.active {
  color: var(--cielo);
  font-weight: 600;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--cielo);
  transition: left 0.3s ease, width 0.3s ease;
}
